[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.6"


[dev-packages]
voxceleb_luigi = {path = ".", editable = true}
ptpython = "*"

[packages]
luigi = "*"
